@mixin anchor-button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

@mixin icon-background {
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
}

@mixin clear-m0p0 {
  margin: 0;
  padding: 0;
}

@mixin clear-list {
  @include clear-m0p0;
  list-style: none;
}
